    body {
        background-color: #191e25;
    }
    .advertisement {
    background-color: rgb(167, 167, 167);
    }
    .highlight {
      color: #ffc107;
    }
    .left-box {
      background-color: #1e1e1e;
      color: white;
      padding: 3rem;
      border-radius: 3rem;
      height: 100%;
    }
    .right-box {
      background-color: #2c2c2c;
      padding: 2rem;
      border-radius: 1rem;
      height: 100%;
    }
    .feedback {
      background-color: #4d4646;
      padding: 1rem;
      color: black;
      border-radius: 0.5rem;
      margin-bottom: 1rem;
    }
    .center-box {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .error-code {
      font-size: 6rem;
      font-weight: bold;
      color: #ffc107;
    }
    .message {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
    .subtext {
      color: #bbbbbb;
      font-size: 1rem;
      margin-bottom: 2rem;
    }
    .chai-icon {
      font-size: 3rem;
      margin-top: 1rem;
      color: #ffc107;
    }